/* Write your styles */
.rule-tip {
    font-size: 14px;
    margin-left: 20px;
    color: #27ae60;
  }
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
small {
  font-size: 100%;
}
.msg-con {
  color: #ee9f28;
  border: 1px solid #faf1d7;
  background-color: #fffff1;
  padding: 0 6px;
  margin: 0 4px;
}
